@font-face {
    font-family: "fuente1";
    src: url('./../fonts/ButterCookie-Regular.otf');
}
.fuente1{
    font-family: "fuente1";
}
@font-face {
    font-family: "fuente2";
    src: url('./../fonts/Vogue.ttf');
}
.fuente2{
    font-family: "fuente2";
}
@font-face {
    font-family: "fuenteg";
    src: url('./../fonts/GODOFWAR.TTF');
}
.fuenteg{
    font-family: "fuenteg";
}
*{

    box-sizing: border-box;
}
header{
height: 100px;
width:auto;
padding: 30px;
text-align: center;
padding-bottom: 100px;
background-color: rgb(255, 255, 255);
border-radius: 5px;

}
nav{
height: 80px;
width:auto;
padding: 2px;
text-align: center;
border-radius: 5px;
}

section{
    
    width: 100%;
    border: 5px solid rgb(0, 0, 0);
    height: 600px;
    padding-top: 100px;
    border-radius: 15px;
   background-image: url(./../img_proyecto1/Pistas-de-Padel-e1590059149530.png);
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-size: cover;


}
aside{
    float: left;
    width: 100%;
    height: 800px;
    background-color: yellow;
    border-radius: 15px;
    font-size: 25px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    background: #C4C570;
background: -moz-linear-gradient(left, #C4C570 0%, #FFFFFF 50%, #C4C570 100%);
background: -webkit-linear-gradient(left, #C4C570 0%, #FFFFFF 50%, #C4C570 100%);
background: linear-gradient(to right, #C4C570 0%, #FFFFFF 50%, #C4C570 100%);


}
footer{
    clear: both;
    width: auto;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.174);
    width: 100%;
    margin-bottom: 15px;
    text-align: right;
    padding-right: 35px;
}
article{
    float: left;
    padding: 10px;
    margin: 15px;
    background-color: rgba(128, 128, 128, 0.457);
    width: 90%;
    height: 50px;
    margin-bottom: 5px;
    font-size: 20px;
    -webkit-border-radius: 26px 26px 26px 26px;
    -moz-border-radius: 26px 26px 26px 26px;
    border-radius: 26px 26px 26px 26px;
}
.titulo{
    background-image: url(./../img_proyecto1/pala_menu.png) ;
    background-repeat: no-repeat ;
    background-size: contain;
    background-color: rgba(255, 242, 127, 0.658);
}
.sombreado1{
    -webkit-box-shadow: 0px 0px 41px 14px rgba(34,13,255,0.67); 
    box-shadow: 0px 0px 41px 14px rgba(34,13,255,0.67);
}
.titulo2{
    color: #000000;
   
    text-shadow: 5px 5px 0 rgba(223, 231, 0, 0.963), 4px 4px 0 #9c9c9c;
    text-align: center;
    font-size: 100px;
}
#menu1{
    list-style-type: none;
    font-size: 25px;
}
#menu1 li{
    float: left;
    padding-left: 280px;
}
#menu1 li a{
    color: rgb(11, 7, 1);
    text-decoration: none;
    display: block;
}
#menu1 li a:hover{
    color: #FFFFFF;

text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}
.titulo3{
   color: #000000;
    font-size: 15px;
    background: rgb(57,211,41);
    background: -moz-linear-gradient(top, rgb(57,211,41) 0%, rgb(254,255,95) 50%, rgb(53,197,38) 100%);
    background: -webkit-linear-gradient(top, rgb(57,211,41) 0%, rgb(254,255,95) 50%, rgb(53,197,38) 100%);
    background: linear-gradient(to bottom, rgb(57,211,41) 0%, rgb(254,255,95) 50%, rgb(53,197,38) 100%);
}
#menu2{
    list-style-type: none;
    font-size: 15px;
}
#menu2 li{
    float: left;
    padding-top: 15PX;
    padding-left: 230px;
}
#menu2 li a{
    color: rgb(11, 7, 1);
    text-decoration: none;
    display: block;
}
#menu2 li a:hover{
    color: rgba(255,255,255,.3);
    background: #1a1a1a;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
    border-radius: 15px;
}
#menu3{
    list-style-type: none;
    font-size: 25px;
}
#menu3 li{
font-size: 40px;
}
#menu3 li a{
    color: rgb(159, 54, 9);
    text-decoration: none;
    display: block;
}
#menu3 li a:hover{
    color: #A7DD3C;

    text-shadow: 2px 0 0px #800040, 3px 2px 0px rgba(77,0,38,0.5), 3px 0 3px #FF002B, 5px 0 3px #800015, 6px 2px 3px rgba(77,0,13,0.5), 6px 0 9px #FF5500, 8px 0 9px #802A00, 9px 2px 9px rgba(77,25,0,0.5), 9px 0 18px #FFD500, 11px 0 18px #806A00, 12px 2px 18px rgba(77,66,0,0.5), 12px 0 30px #D4FF00, 14px 0 30px #6A8000, 15px 2px 30px rgba(64,77,0,0.5), 15px 0 45px #80FF00, 17px 0 45px #408000, 17px 2px 45px rgba(38,77,0,0.5);
}
.iframe{
    height: 300px; 
    width: 25%;
    background-size: cover ;
    border: none;
     text-decoration: none; 
     list-style-type:none ;
     border-radius: 25px;
}
.imagen1{
    
    float:left;
    width:550px;
    height:350px;
}
.imagen2{
    
    float:right;
    width:550px;
    height:350px;
}
